body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: white;
  background-color: black;
  background-image: linear-gradient(0deg, #FEE140 10%, #982129 77%);
  background-attachment: fixed;
  background-size: contain;
}

.container {
  position: relative;
  height: 100vh;
}

header {
  font-family: 'Lobster', cursive;
  text-transform: uppercase;
  display: flex;
}

header h1 {
  flex-basis: 30%;
}

form {
  display: flex;
  margin: 40px;
}

.search-go {
  background: rgba(0, 0, 0, .4);
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  color: gray;
}
.search-go:hover {
  background: rgba(0, 0, 0, .6);
  color: white;
}

.search-input {
  height: 30px;
  background: rgba(0, 0, 0, .4);
  border-radius: 10px;
  border: 0;
  font-size: 1em;
  padding: 10px;
  color: white;

  /*box-sizing: border-box;*/

}
.search-input:hover {
  background: rgba(0, 0, 0, .6);

}
.search-input:focus {
  background: rgba(0, 0, 0, .6);
  outline: none;
}


::-webkit-input-placeholder {
  color: gray;
}

.player {
  /*width: 500px;*/
  margin: 0 auto;
  display: flex;
  /*justify-content: center;*/
}

.player-image {
  width: 100px;
  height: 100px;
  /*flex-basis: 20%;*/
}

.player-side {
  /*flex-grow: 1;*/
  background: rgba(0, 0, 0, .4);
  border-radius: 10px;
}

.player-info {
  font-family: 'Roboto', sans-serif;
  font-size: .6em;
}

.results {
  display: flex;
  flex-wrap: wrap;
}

.results div {
  padding: 10px;
  margin: 10px;
  flex-basis: 15%;
  flex-grow: 1;
  background: rgba(0, 0, 0, .4);
  font-size: .6em;
  border-radius: 10px;
}

footer {
  position: absolute;
  bottom: 0;
}

.hidden {
  display: none;
}
