body {
  background-color: #60d9f1;
}

.results {
  display: flex;
  flex-wrap: wrap;
}

.results div {
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  flex-basis: 15%;
  flex-grow: 1;
  background: white;
}
